{%- layout 'base.liquid' -%}
{% block prescripts %}
{{ block.super }}
<script>
  const themes = ['mocha', 'macchiato', 'frappe', 'latte'];
  function getToggle() {
    return document.querySelector('button#theme-toggle');
  }
  function setTheme(theme, store) {
    const newTheme = theme ?? 'frappe';
    document.documentElement.dataset.theme = newTheme;
    if (store) {
      window.localStorage.setItem('prefers-theme', newTheme);
    }
    window.requestIdleCallback(() => {
      const themeName = document.querySelector('#theme-name');
      themeName.dataset.hint = `${newTheme} theme`;
    });
  }

  let theme = 'frappe';
  const themePreference = window.localStorage.getItem('prefers-theme');
  if (themePreference && themes.includes(themePreference)) {
    theme = themePreference;
  } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
    theme = 'latte';
  }
  setTheme(theme);
</script>
{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/home.css">
{% endblock %}
{% block content %}
<div class="home-wrapper">
  <header>
    <nav class="site-nav" aria-label="Primary navigation">
      <ul class="header-link-list">
        <li><a class="header-link {{ page.url | activeRoute: "/" }}" href="index.md">Home</a></li>
        <li><a class="header-link {{ page.url | activeRoute: "/posts" }}" href="posts.md">Posts</a></li>
        <li>
          <a
            class="header-link {{ page.url | activeRoute: "/projects" }}"
            href="projects.md"
            >Projects</a
          >
        </li>
        <li>
          <a
            class="bp-tablet-up header-link {{ page.url | activeRoute: "/contact" }}"
            href="contact.md"
            >Contact</a
          >
        </li>
        <li>
          <a class="bp-tablet-up header-link {{ page.url | activeRoute: "/search" }}" href="search.liquid">Search</a>
        </li>
      </ul>
      <div class="header-right">
        <a
          id="search-icon"
          href="search.liquid"
          class="bp-phone-only icon-button {{ page.url | activeRoute: "/search" }}"
        >
          <span class="sr-only">Search</span>
          {% icon "search" %}
        </a>
        <button id="theme-toggle" type="button" class="icon-button" aria-label="Toggle theme">
          <span id="theme-name" class="hint--bottom" data-hint="mocha-theme">
            {{ '🌿' | emoji: 'mocha theme' }}
            {{ '🌺' | emoji: 'macchiato theme' }}
            {{ '🪴' | emoji: 'frappe theme' }}
            {{ '🌻' | emoji: 'latte theme' }}
          </span>
        </button>
      </div>
    </nav>
  </header>
  <main class="site-content">
    {% block sitecontent %}
    {{ content }}
    {% endblock %}
  </main>
  <footer>
    <nav aria-label="Footer navigation">
      <span>© {{ 'now' | date: '%Y' }} Nathan Smith</span>
      <a href="{{ "/feed.xml" | absolute }}">RSS</a>
      <a href="contact.md">Contact</a>
    </nav>
  </footer>
</div>
{% endblock %}
{% block postscripts %}
{{ block.super }}
<script type="module" src="/modules/theme-toggle.js"></script>
{% endblock %}
