{%- layout 'home.liquid' -%}
{% block head %}
{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/post.css">
{% endblock %}
{% block sitecontent %}
<div class="post-wrapper">
  <h1>{{ title }}</h1>
  <span>{{ date | date }}</span>
  <div class="post-content">
    {{ content }}
  </div>
</div>
{% endblock %}
{% block postscripts %}
{{ block.super }}
<script type="module" src="/modules/copy-code.js"></script>
{% endblock %}
