{%- layout 'home.liquid' -%}
{% block head %}
{% endblock %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="/post.css">
{% endblock %}
{% block sitecontent %}
<heading-anchors>
  <div class="post-wrapper">
    <h1 class="post-title">{{ title }}</h1>
    <div class="post-meta">
      <span>{{ date | date }}</span>
      <span aria-hidden="true">/</span>
      <span>tagged: {% postTags tags %}</span>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</heading-anchors>
{% endblock %}
{% block postscripts %}
{{ block.super }}
<script src="/modules/heading-anchors.js"></script>
<script type="module" src="/modules/copy-code.js"></script>
{% endblock %}
